results/
temp_knn_batches/
dataset/
__pycache__/
__marimo__/
.venv/
.env
.mypy_cache/
diamond
taxonkit
*.txt
preds/
mmseqs_dbs/
foldseek/
foldseek_work/
keras_models/
tmp/
swissprot_release/
*.m8
*.gz
*.csv
*.tsv
taxonkit
wandb/
*.json


